<h1>BT Search</h1>
<div>
    <%= form_tag('/search/result', method: 'get') do %>
        <%= label_tag(:keyword, '') %>
        <%= text_field_tag(:keyword) %>
        <%= submit_tag('Search') %>
    <% end %>
</div>
